.nav-links {
  background: var(--theme2);
  border: solid 5px var(--theme1);
}

.nav-link {
  @apply flex flex-row text-base text-center justify-center;
  border-radius: 5px;
}

.nav-link.active {
  background: var(--theme1);
}

.dropdown:hover .dropdown-content {
  @apply flex flex-col;
}

.dropdown-content {
  width: 10px;
  @apply flex absolute min-w-max shadow-lg mt-11 z-10 mr-20 backdrop-blur-md;
  background-color: rgba(46, 46, 46, 0.2);
  border-radius: 5px;
}

select.nav-link {
  @apply text-white bg-transparent rounded-md p-1 outline-none text-xs cursor-pointer;
}

.hamburger {
  @apply flex justify-center items-center h-[40px] w-[40px];
}

.nav-links.show {
  @apply flex;
}

.hamburger {
  @apply hidden md:block;
}

.dropdown-label:focus {
  background: var(--theme2);
}
