<div class="box shadow-md shadow-cyan-950/50">
    <h3 class="text">Test</h3>
    <p class="text">Test</p>
</div>



<style>
    .box {
        background-color: rgba(1, 23, 26, 0.32);
        border-radius: 4px;
        width: 25%;
        text-emphasis-color: white;
    }
    
    .text {
        color: white;
    }
</style>