---
import Box from "../components/box.astro";
import Lanyard from "../components/lanyard.svelte";
import Layout from "../layout/layout.astro";
---

<Layout>
  <Lanyard client:only="svelte" />
  <div id="about" class="flex flex-col mt-10 items-center justify-center">
    <h1 class="text-lg font-bold">Hi there! I'm Eveeify</h1>
    <p class="text-center">
      I specialize in fullstack web development and Minecraft modpack
      development.
      <br />
      I'm currently work as Developer at <a class="text-blue-400" href="/404"
      >Opus Client</a> & CTO at <a
        class="text-blue-400"
        href="/404"
        target="_blank"
        rel="noopener noreferrer"
      >NodeForge Hosting</a>
    </p>
  </div>
</Layout>
