---
import Layout from "../layout/layout.astro";
import Box from "../components/box.astro";
import Lanyard from "../components/lanyard.svelte";
---

<Layout>
  <Lanyard client:only="svelte" />
  <div id="about" class="flex flex-col items-center justify-center">
    <h1 class="text-lg font-bold">Hi there! I'm Eveeify</h1>
    <p>
      I do fullstack web development and minecraft modpack development. I
      <br />
      currently work at <a class="text-blue-400" href="opusclient.com"
        >Opus Client</a
      > as a developer.
    </p>
  </div>
</Layout>
