---
import Layout from "../layout/layout.astro";
import Header from "../components/header.astro";
import AboutProfile from "../components/aboutProfile.astro";
import Box from "../components/box.astro"
---





<Layout>
  <Header/>

  <section id="About">
    <AboutProfile/>
    <Box test="fgdshgfvsdh"/>

  </section>
  <br>
</Layout>