---
import { getCollection } from "astro:content";
import Lanyard from "../components/lanyard.svelte";
import Layout from "../layout/layout.astro";

const roles = await getCollection("careers");

const currentRoles = roles.filter(role => role.data.current);
---

<Layout>
  <Lanyard client:only="svelte" />
  <div id="about" class="flex flex-col mt-10 items-center justify-center">
    <h1 class="text-lg font-bold">Hi there! I'm Eveeify</h1>
    <p class="text-center">
      I specialize in fullstack web development and Minecraft modpack
      development.
      <br />
      I'm currently working at{" "}
			{currentRoles.map((role, i) => (
        <>
          <a
            class="text-blue-400"
						href={role.data.website ?? "/404"}
          >
            {role.data.business}
          </a>
          {i < currentRoles.length - 1 ? " & " : ""}
        </>
      ))}
    </p>
  </div>
</Layout>
