---
import FrontoutLayout from "../layout/frontoutLayout.astro";
---

<FrontoutLayout nav={false}>
	<div class="flex align-middle justify-center text-center relative h-screen w-screen items-center mt-7">
	<div class="flex font-medium mt-5 flex-col">
		<p id="time" class="text-transparent bg-clip-text bg-gradient-to-r from-teal-600 to-white blur-[100%] opacity-85 font-semibold text-8xl">
			02:00:00
		</p>
		<p id="ampm" class="font-bold text-3xl">
			AM
		</p>
		<p id="date" class="font-medium text-xl from-teal-700 to-teal-900 text-transparent bg-gradient-to-r bg-clip-text">
			00/00/0000
		</p>
		<p class="mt-4 font-medium text-lg from-slate-900 to-teal-300 text-transparent bg-gradient-to-tr bg-clip-text">
			Timezone: AEDT
		</p>
	</p>
	</p>
</FrontoutLayout>

<script>
function updateTime() {
    const now = new Date();
    
    const sydneyFormat = new Intl.DateTimeFormat('en-AU', {
        timeZone: 'Australia/Sydney',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric',
				hour12: true,
    });

    const timeString = sydneyFormat.format(now);
		const ampm = timeString.split(' ')[1];
		
		const timeWithoutAMPM = sydneyFormat.format(now).replace(ampm, '');

    const timeComponent = document.getElementById('time') as HTMLDivElement;
		timeComponent.textContent = timeWithoutAMPM;

		const ampmComponent = document.getElementById('ampm') as HTMLDivElement;
		ampmComponent.textContent = ampm.toUpperCase();
}

function updateDate() {
    const currentDate = new Date();
    
    // Create a DateTimeFormat object for Sydney
    const sydneyFormat = new Intl.DateTimeFormat('en-AU', {
        timeZone: 'Australia/Sydney',
        day: 'numeric',
        month: 'numeric',
        year: 'numeric'
    });

    // Format the date
    const dateString = sydneyFormat.format(currentDate);

    const dateComponent = document.getElementById('date') as HTMLDivElement;
    dateComponent.textContent = dateString;
}

function tick() {
    updateTime();
    updateDate();
}

tick();

setInterval(tick, 100);
</script>
