

<div class="flex relative justify-center bg-cyan-500">
	<p>I will be taking a break for a week! See you in all a week, because of my (NodeJS) actions a day ago to reflect and become a better person!</p>
</div>
