---
import { twMerge } from "tailwind-merge";
interface Props {
	classes: string;
	children: any;
}

const { classes } = Astro.props;
---

<div
    class={twMerge(
        "flex flex-col justify-center items-center border border-opacity-30 bg-opacity-5 text-white rounded-xl",
        classes,
    )}
>
    <slot />
</div>
