---
const { h3, p, button} = Astro.props.frontmatter || Astro.props
---


<div class="left">
  <div class="heroAnnouncementOuter">
    <div class="heroAnnouncementGradient"></div>
    <div class="heroAnnouncement">
      <div>
        <h3>{h3}</h3>
        <p>{p}</p>
      </div>
      <a class="heroReadMore" href="">
        <span>Donate</span>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" class="icon">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"></path>
        </svg> -->
      </a>
    </div>
  </div>
  <div class="right">
    </div>


    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


*, :after, :before {
box-sizing: border-box;
}

.left {
display: flex;
justify-content: center;
}

/* The border for the about profile */
.heroAnnouncementOuter {
position: relative;
min-width: 40%;
max-width: 1000px;
padding: 4px;
margin-top: 128px;
overflow: hidden;
background: linear-gradient(0deg, rgba(4, 19, 22, 0.5), rgba(22, 4, 22, 0.5)), linear-gradient(100.41deg, #cd37ff .52%, #0053ab 100.52%);
border-radius: 16px;
box-shadow: 0 0 27px rgba(6, 174, 230, 0.401)}


/* Gradient */
.heroAnnouncementGradient {
position: absolute;
inset: 0;
height: 100%;
background: conic-gradient(transparent 50deg, #48edff 80deg, transparent 100deg);
filter: blur(8px);
border-radius: 16px;
animation: heroDisco -.64s linear 4s infinite;
}

/* Background */

.heroAnnouncement {
position: relative;
z-index: 1;
display: flex;
align-items: center;
padding: 20px 24px;
background: linear-gradient(0deg, rgba(22, 4, 19, 0.96), rgba(4, 21, 22, 0.96)), linear-gradient(100.41deg, #cd37ff .52%, #0053ab 100.52%);
border: 1px solid hsla(0, 0%, 100%, .1);
border-radius: 12px;
}

/* Flex for divs*/
.heroAnnouncement > div {
flex-grow: 1;
}

.heroReadMore {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-left: 8px;
font-size: 14px;
color: #1eb8c6;
border-radius: 8px;
text-decoration: none;
}

.heroReadMore > span {
margin-right: 4px;
}

.heroReadMore > svg {
font-style: normal;
transition: transform .2s;
}

.heroReadMore:hover {
  background: linear-gradient(100.41deg,rgba(108, 199, 255, 0.2) .52%,rgba(171, 0, 160, 0.2) 100.52%);
}

.icon {
display: inline-block;
width: 1em;
height: 1em;
font-size: inherit;
}

h3, p {
font-family: var(--font-jetbrains-mono), Menlo, Monaco, Courier, monospace;
color: white;
}

h3 {
font-size: 1.5rem;
}

p {
font-size: 1.3rem;
}

@media (min-width: 480px) {
.heroAnnouncement {
  padding: 30px;
}

.heroReadMore {
  padding: 8px 16px;
  margin-left: 24px;
  background: linear-gradient(100.41deg, rgba(255, 55, 238, 0.1) .52%, rgba(0, 143, 171, 0.1) 100.52%);
  transition: background-color .2s;
}

.heroReadMore > span {
  background: linear-gradient(0deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), linear-gradient(100.41deg, 
#ff37c31a .52%, #00abab 100.52%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
}

@media (min-width: 720px) {
.heroAnnouncementGradient {
  aspect-ratio: 6.3 / 1;
}
}

@keyframes heroDisco {
0% {
  transform: translateY(-25%) translateX(40%) rotate(0deg);
}
30% {
  transform: translateY(0) translateX(0) rotate(90deg) scaleX(.7);
}
50% {
  transform: translateY(-25%) translateX(-40%) rotate(180deg);
}
70% {
  transform: translateY(0) translateX(0) rotate(270deg) scaleX(.7);
}
100% {
  transform: translateY(-25%) translateX(40%) rotate(1turn);
}
}
  </style>