



<nav class="nav">
    <a href="/" class="mx-2 text-white">Home</a>
    <a href="/services" class="mx-2 text-white">Work</a>
    <a href="/about" class="mx-2 text-white">Story</a>
    <a href="/contact" class="mx-2 text-white">Contact</a>
  </nav>
  
<style>
.nav{
    @apply flex;
    @apply justify-center;
    @apply flex-col;
    @apply sm:flex-row;
    @apply bg-transparent;
    @apply shadow-cyan-500/50;
    @apply pt-2;
    @apply mx-auto; 
    width: 25%;
}

</style>
