---
import Lanyard from "./lanyard.svelte";
---

<nav
  class="justify-center flex-col sm:flex-row border border-white border-opacity-25 bg-teal-500 bg-opacity-15 pt-2 mx-auto rounded-lg w-[14%]"
>
  <a href="/" class="mx-2 text-white">Home</a>
  <a href="#About" class="mx-2 text-white">About</a>
  <a href="#Work" class="mx-2 text-white">Work</a>
  <a href="#Story" class="mx-2 text-white">Story</a>
  <a href="#Contact" class="mx-2 text-white">Contact</a>
</nav>
