

<nav class="nav">
  <a href="/" class="mx-2 text-white">Home</a>
  <a href="#About" class="mx-2 text-white">About</a>
  <a href="#Work" class="mx-2 text-white">Work</a>
  <a href="#Story" class="mx-2 text-white">Story</a>
  <a href="#Contact" class="mx-2 text-white">Contact</a>
</nav>





<style>


.nav{
  @apply flex justify-center flex-col sm:flex-row;
  @apply shadow-cyan-500/50 pt-2 mx-auto rounded-lg;
  width: 15%;
}


</style>