---
export interface Props {
	enable: boolean
}

const { enable } = Astro.props;

const extraClass = [];

if (!enable) {
	extraClass.push("hidden")
};
---


<nav
		class={`justify-center flex-col space-x-2 sm:flex-row border border-white border-opacity-10 bg-gradient-to-r from-grey-600 to-grey-800 bg-opacity-25 p-1 mt-3 mx-auto text-center align-middle rounded-lg w-2/4 ${extraClass}`}
>
  <a href="/" class="text-white">Home</a>
  <a href="#About" class="text-white">About</a>
  <a href="#Work" class="text-white">Work</a>
  <a href="#Story" class="text-white">Story</a>
  <a href="#Contact" class="text-white">Contact</a>
</nav>
