---
export interface Props {
	enable: boolean;
}

const { enable } = Astro.props;
const extraClass = [];

if (!enable) {
	extraClass.push("hidden");
}
---

<nav
  class={`flex flex-row flex-wrap justify-center items-center gap-1 md:gap-4 border border-white/10 bg-gradient-to-r from-grey-600 to-grey-800 bg-opacity-25 px-2 py-1 md:px-8 md:py-4 mt-3 mx-auto text-center rounded-lg w-[95%] md:w-[70%] max-w-xs md:max-w-5xl *:text-[10px] md:*text-lg ${extraClass}`}
  aria-label="Main navigation"
>
  <a
    href="/"
    class="text-[10px] md:text-lg text-white hover:text-neutral-300 transition-colors"
  >Home</a>
  <a
    href="/404"
    class="text-[10px] md:text-lg text-white hover:text-neutral-300 transition-colors"
  >About</a>
  <a
    href="/404"
    class="text-[10px] md:text-lg text-white hover:text-neutral-300 transition-colors"
  >Work</a>
  <a
    href="/404"
    class="text-[10px] md:text-lg text-white hover:text-neutral-300 transition-colors"
  >Story</a>
  <a
    href="/blogs"
    class="text-[10px] md:text-lg text-white hover:text-neutral-300 transition-colors"
  >Blogs</a>
  <a
    href="/404"
    class="text-[10px] md:text-lg text-white hover:text-neutral-300 transition-colors"
  >Contact</a>
</nav>
