<!-- Hidden Label -->
<div 
  id="audio-label" 
  class="fixed text-xs font-thin right-3 bottom-3 bg-neutral-900 border border-cyan-300/30 py-2 px-3 rounded-full z-50 text-white"
	>
	Music by <a href="https://pixabay.com/users/delosound-46524562/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=345374">DELOSound</a> from <a href="https://pixabay.com/music//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=345374">Pixabay</a>
</div>

<!-- Hidden Iframe -->
<div style="display: none;">
	<audio src="/lofi-relax-lofi-345374.mp3" autoplay loop preload="metadata" allow="autoplay"/>
</div>
