@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.japan {
  --theme1: rgb(101, 56, 13);
  --theme2: linear-gradient(156deg, rgb(130, 72, 18) 0%,rgb(98, 12, 23) 50%, rgb(99, 2, 99) 100%);
}

body.eevee {

  --theme1: rgb(127,135,18);
  --theme2: linear-gradient(198deg, rgba(127,135,18,1) 0%, rgba(159,101,19,1) 50%, rgba(142,148,0,1) 100%);

}

/* define other themes similarly */

body {
  background: #1b1b1b;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}