---
// Layout Properties
const { Number, Message } = Astro.props.frontmatter || Astro.props;
---

<div class="error">
    <h1 class="text">{Number}</h1>
    <p class="text">{Message}</p>
    <a class="text" href="/">Back to Home Page</a>
</div>

<style>
    .text {
        @apply text-white justify-center items-center;
    }
</style>
