---
import Meta from "../components/meta.astro";
import Nav from "../components/nav.astro";
---

<html lang="en">
    <head>
        <Meta />
    </head>
    <Nav />
    <body class="text-white bg-[#0e0e0e] bg-cover">
        <slot />
    </body>
</html>
